node_modules/
data/
.env
appstate.json
pnpm-lock.yaml
*.log

temp/
dist/
*.tsbuildinfo

# native code always hidden from public git 
native/
# Ignore compiled binaries, only upload during release
bin/
